@font-face {
    font-family: NavLi;
    src: url("../../fonts/subset-Graphik-Medium.woff2");
}

.nav__header nav {
    cursor: pointer;
    position: fixed;
    z-index: 400;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.945);
    border-bottom: 1px solid rgba(255, 255, 255, 0.185);
    box-shadow: 0 7px 6px 0 rgba(33, 43, 54, 0.04);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav__header .menu {
    z-index: 400;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav__header nav ul {
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.nav__header nav ul li {
    height: 100%;
    text-align: center;
    font-family: CardTitle;
    border-bottom: 6px solid #128669;
    line-height: 75px;
    border-radius: 4px;
    margin: 0 20px 0 20px;
}

.nav__header nav ul li:hover {
    opacity: .6;
}

@media (max-height: 645px) {
    .nav__header nav {
        position: relative !important;
        height: 70px !important;
    }
    .header {
        height: 70% !important;
    }
    .header > .title__header {
        height: 50% !important;
        flex-wrap: nowrap !important;
    }
    .content__main {
        -webkit-box-shadow: 0 0 0 0 !important;
        -moz-box-shadow: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }
}

@media (max-height: 645px) {
    .nav__header nav {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .nav__header nav .nav__logo {
        margin: 0;
    }
    .menu {
        width: 100%;
    }
    .nav__header nav {
        height: auto !important;
    }
    .nav__header nav ul {
        width: 100%;
        flex-direction: row;
        margin: 0;
    }
    .header {
        height: 75vh !important;
    }
    .content__main {
        transform: translateY(-10%) !important;
    }
}

@media (max-width: 729px) {
    .nav__header nav {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .nav__header nav .nav__logo {
        margin: 0;
    }
    .menu {
        width: 100%;
    }
    .nav__header nav {
        height: auto;
    }
    .nav__header nav ul {
        width: 100%;
        flex-direction: row;
        margin: 0;
    }
    .nav__header nav ul li {
        line-height: 35px !important;
    }
    .header {
        height: 75vh !important;
    }
    .content__main {
        transform: translateY(-20%) !important;
    }
}

@media (max-width: 360px) {
    .nav__header nav {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .nav__header nav .nav__logo img{
        margin: 0;
        height: auto !important;
        width: 100% !important;
    }
    .menu {
        width: 100%;
    }
    .nav__header nav {
        height: auto !important;
    }
    .nav__header nav ul {
        width: 100%;
        flex-direction: row;
        margin: 0;
    }
    .header {
        height: 70vh !important;
    }
    .content__main {
        transform: translateY(-10%) !important;
    }
}

.nav__logo {
    z-index: 100;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.nav__logo .img__logo__nav {
    height: 80px;
    width: 370px;
}

.nav__logo .img__logo__nav:hover {
    opacity: .8;
}
